<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <div class="container mt-3" id="app">
        <h1>Mis productos</h1>
        <form @submit.prevent="agregar()">
            <div class="mb-3">
                <label class="form-label">Nombre del producto</label>
                <input required v-model="nombre" type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Precio del producto</label>
                <input required v-model="precio" type="number" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Cantidad de productos</label>
                <input required v-model="cantidad" type="number" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Url de la foto</label>
                <input v-model="url" type="text" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>


        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>

                <tr v-for="producto in productos">
                    <th scope="row">{{producto.nombre}}</th>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td><img :src="producto.url" alt="" style="width: 100px;"></td>

                </tr>



            </tbody>
        </table>

        <p class="text-primary">Total {{calcular}}</p>
        {{descuento}} %

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="carrito.js"></script>
</body>

</html>